body {
    margin: 0;
    padding: 0;
    
}

#header {
   display: flex;
   padding-left: 50px;
   margin-left: 50px;
   font-weight: bold;
   justify-content: space-between;
   align-items: center;
}

#header-logo {
    width: 50px;
    height: 42px;
}

#footer {
    background-color: black;
    width: 100vw;
    height: 228px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-logo {
    width: 81px;
    height: 68px;
    background-color: #101010;
    
}

#footer-section {
    width: 1200px;
    display: flex;
    justify-content: space-between;
   
}

.footer-icon {
    width: 167px;
    height: 44px;
}
#G1 {
    font-style: italic;
}
#intro-section {
    
    display: flex;
    justify-content: center;
    margin-bottom: 260px;
    
}
#section{
    width: 1200px;
    display: flex;
    flex-direction: row;
    margin-top: 240px;
    justify-content: space-between;
}

#intro-title {
    font-weight: 700;
    font-size: 72px;
    line-height: 87.77px;
    color: #303030;
    text-align: center;

}

#intro-sub-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29.26px;
    color: #ababab;
    text-align: center;
}

#intro-image-container {
    display: flex;
    justify-content: center;
    padding-top: 70px ;
    gap: 50px;
    align-items: start;
}

#intro-image {
    width: 692px;
height: 845px;
gap: 0px;
opacity: 0px;

   
}
.display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
    border-radius: 50;
}
.title{
    margin top: 120px 
}
.trip-text {
    color:#ababab;
}
#G1 {
    color:#ababab;
    size:24px;
    line-height: 29.26px;
    font-weight: 500;
}
#G2 {
    color:#303030;
    font-weight: 500;
    size: 90px;
    line-height: 58.51px;
}
.tour-destinations {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.destination {
    display: flex;
    align-items: center;
    gap: 20px;
}

.destination-circle {
    background-color: black;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    color: #16a94a;
    display: flex;
    align-items: center;
    justify-content: center;
}


.main{
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.destination-line {
    width: 56px;
    height: 100px;
    border-left: 1px dashed black;
    margin-left: 28px;
    border: none;
    border-left: dashed;
    
}


.header-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 80px;
    width: 1200px;

}

.price-conteiner{
    display: flex;
    gap: 30px;
    max-top: 100px;
}

.Luxury{
    width: 200px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 4px;
    text-align: left;
    display: inline-block;
    color:gray;
    gap: 5px 0;

}
.Starter{
    width: 200px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 4px;
    text-align: left;
    display: inline-block;
    color: grey;
    gap: 5px 0;
}
.SP ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.LP ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
    margin-top: 20px;
}
.Price {
    font-size: 24px;
    font-weight: bold;
    color: #303030;
    padding: 5px 10px;
    border-radius: 8px;
    display: inline-block;
}

.ready-section{
    background-color: #171717;
    color:white;
    text-align: text;
    padding: 40px 0;
    width: 800;
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ready-section h2 {
    font-size: 24px;
    margin-top: 20px;
}
.Order-button {
    text-align: center;
    background-color: #18ba51;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3;
}
.test2{
    display: flex;
}
.center-div-pricing {
    width: 789px;
    height: 607px;
    margin: auto;
}
#pricing-section {
    text-align: center;
}
.whole-two-boxes {
    margin-top: 80px;
    display: flex;
    justify-content: space;
    gap: 20px;
}
.money-not-absolute {
    position: relative;
}
.two-boxes {
    width: 285px;
    height: 370px;
    background-color: whitesmoke;
    border-radius: 24px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.two-boxes-title {
    color: #303030;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.two-boxes-grey-font {
    color: #777777;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.money-font {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39.01px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.money-align {
    position: absolute;
    top: 350px;
    left: 220px;
    transition: all 0.5s ease;
}
.money-not-absolute {
    position: relative;
}
.starter-pack {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #777777;
}
.background-bottom {
    margin-top: 240px;
    width: 100vw;
    height: 393px;
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-content: center;
}
.div-areyouready {
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.center-everything {
    display: flex;
    justify-content: center;
    align-content: center;
}
.font-areyouready {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    line-height: 39.01px;
}
.center-everything {
    display: flex;
    justify-content: center;
    align-content: center;
}
.button-hover {
    border: 0;
    padding: 4px;
}
.button-ordernow {
    margin-top: 10px;
    width: 130px;
    height: 44px;
    background-color: #18ba51;
    border-radius: 4px;
}
#text-ordernow {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
}
#footer-twoicon {
    width: 370px;
    display: flex;
    justify-content: space-between;
}